*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrap{
  width: 800px;
  height: 500px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
}
.slider{
  position: absolute;
  width: 800px;
  height: 60px;
  bottom: 30px;
  left: 15%;
  z-index: 10;
}
.slider a{
  float: left;
  margin-left: 8px;
  display: inline-block;
}
.slider a img{
  width: 90px;
}
#img1{
  position: absolute;
  width: 800px;
  height: 500px;
  top: 0;
  left: -800px;
}
#img2{
  position: absolute;
  width: 800px;
  height: 500px;
  top: 0;
  left: 0;
}
#img3{
  position: absolute;
  width: 800px;
  height: 500px;
  top: 0;
  left: 0;
}
#img4{
  position: absolute;
  width: 800px;
  height: 500px;
  top: 0;
  left: 0;
}
#img5{
  position: absolute;
  width: 800px;
  height: 500px;
  top: 0;
  left: 0;
}
.img1{
  position: absolute;
  top:0;
  left: 0;
  width: 800px;
  height: 500px;
}
.img2{
  position: absolute;
  left: 0;
  top:500px;
  width: 800px;
  height: 500px;
}
.img3{
  position: absolute;
  top:0;
  left: 0;
  width: 800px;
  height: 500px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.img4{
  position: absolute;
  top:0;
  left: 0;
  width: 800px;
  height: 500px;
  display: none;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
.img5{
  position: absolute;
  top:0;
  left: 0;
  width: 800px;
  height: 500px;
  -webkit-transform: scale(0) rotate(-360deg);
  -moz-transform: scale(0) rotate(-360deg);
  -ms-transform: scale(0) rotate(-360deg);
  -o-transform: scale(0) rotate(-360deg);
  transform: scale(0) rotate(-360deg);
}
#img1:target .img1{
  -webkit-animation:img1Move 0.5s ease-out;
  -o-animation:img1Move 0.5s ease-out;
  animation: img1Move 0.5s ease-out;
  animation-fill-mode: both;/*动画执行后保持最后一帧*/
}
@keyframes img1Move {
  form{
    -webkit-transform:  translateX(0);
    -moz-transform:  translateX(0);
    -ms-transform:  translateX(0);
    -o-transform:  translateX(0);
    transform:  translateX(0);}
  to{
    -webkit-transform: translateX(800px);
    -moz-transform: translateX(800px);
    -ms-transform: translateX(800px);
    -o-transform: translateX(800px);
    transform: translateX(800px);
  }
}
#img2:target .img2{
  -webkit-animation: img2Move 0.5s ease-out;
  -o-animation: img2Move 0.5s ease-out;
  animation: img2Move 0.5s ease-out;
  animation-fill-mode:both;/*动画执行后保持最后一帧*/
}
@keyframes img2Move {
  form{top: 500px;}
  to{top:0;}
}
#img3:target .img3{
  -webkit-animation: img3Move 1s ease-in;
  -o-animation: img3Move 1s ease-in;
  animation: img3Move 1s ease-in;
  animation-fill-mode:both;/*动画执行后保持最后一帧*/
}
@keyframes img3Move {
  form{
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);}
  to{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
#img4:target .img4{
  display: inline-block;
  -webkit-animation: img4Move 1s ease-out;
  -o-animation: img4Move 1s ease-out;
  animation: img4Move 1s ease-out;
  animation-fill-mode:both;/*动画执行后保持最后一帧*/
}
@keyframes img4Move {
  form{
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);}
  to{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
#img5:target .img5{
  -webkit-animation: img5Move 0.7s ease-in-out;
  -o-animation: img5Move 0.7s ease-in-out;
  animation: img5Move 0.7s ease-in-out;
  animation-fill-mode:both;/*动画执行后保持最后一帧*/
}
@keyframes img5Move {
  form{
    -webkit-transform: scale(0) rotate(-360deg);
    -moz-transform: scale(0) rotate(-360deg);
    -ms-transform: scale(0) rotate(-360deg);
    -o-transform: scale(0) rotate(-360deg);
    transform: scale(0) rotate(-360deg);}
  to{
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
